@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext);

/*html.touch *:hover {*/
    /*pointer-events: none !important;*/
/*}*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222222;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

ul{
    padding-left: 0;
}
.mobile-menu{
    display: none;
}

a, a:hover, a:active, a:visited{
    color: inherit;
}

.wrapper{
    padding-bottom: 27px;
}
.page-wrapper{
    width:941px;
    margin: 141px auto 0 auto;
    position: relative;
}
.sidebar-navigation{
    position: fixed;
    width: 193px;
    height: 500px;
    background-color: #fff;
}
.sidebar-navigation .logo{
    display: block;
    margin-top: -80px;
    margin-bottom: 52px;
    width: 78px;
    height: 78px;
}

.sidebar-navigation .menu li{
    line-height: 14px;
    font-size: 13px;
    list-style: none;
    padding: 8px 2px;
}

.sidebar-navigation #menu-main-menu li a{
    color: #222222;
}
.sidebar-navigation #menu-main-menu li.current-menu-item{
    text-decoration: underline;
}

.sidebar-navigation ul.menu{
    padding: 0;
    margin-bottom: 136px;
}
 .sidebar-bottom.widget-area ul{
    padding: 0 0 0 2px;
}
 .sidebar-bottom.widget-area ul:hover li{
    opacity: 0.5;
}
 .sidebar-bottom.widget-area li{
    list-style: none;
    display: inline-block;
    margin-right: 12px;
}
 .sidebar-bottom.widget-area ul:hover li:hover{
    opacity: 1;
}
 .sidebar-bottom.widget-area li img{
    height: 12px;
    width: auto;
}
.copyright,
.sidebar-navigation .copyright{
    font-size: 11px;
    color: #222222;
    padding-left: 2px;
}
.content{
    width: 729px;
    float: right;
}
.logo-wrap{
    display: inline-block;
}
.content .row{
    margin-left: -5px;
}
.content .row.single-work img{
    width: 100%;
    height: auto;
    margin-bottom: 11px;
}
.content .row.single-work .attachments{
    margin-bottom: 27px;
}
.content .row.single-work h4{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 21px;
}

.content .row.video p{
    margin-bottom: 15px;
}
.content .post p{
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 23px;
    max-width: 686px;
}

.content .post{
    margin-bottom: 12px;
}

.content .post.process{
    margin-bottom: 10px;
}
.content .post.process p{
    margin-bottom: 25px;
}
.content .post h4{
    margin-bottom: 5px;
    font-size: 14px;
}
.content .post a{
    color: #222222;
    font-weight: bold;
    text-decoration: underline;
}
.content .work-blocks{
    position: relative;
    right: -5px;
    margin: 0 -15px 32px -15px;
}
.work-block-wrap{
    position: relative;
    height: 178px;
    width: 233px;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 5px;
    float: left;
    margin-right: 5px;
}
.work-block-wrap:hover,
.work-block-wrap:focus,
.work-block-wrap:active{
    outline:  0;
}
.work-block-wrap:hover .title-wrap{
    display: table;
}
.work-block-wrap:hover img{
    opacity: 0.1;
}
.work-block-wrap img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.work-block-wrap .title-wrap{
    display: none;
    text-align: center;
    width: 80%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -50px auto;
    z-index: 1;
    vertical-align: middle;
}
.work-block-wrap .title-wrap span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #222222;
}
.hr{
    position: relative;
    border-top: 1px dotted #545454;
    margin: 29px -15px 42px -15px;
    height: 0;
}
.post-pin-it{
    background-image: url("img/pin-dark.png");
    position: absolute;
    right: 0;
    top: -32px;
    height: 16px;
    width: 12px;
    background-size: contain;
    cursor: pointer;
}
.post-pin-it:hover{
    opacity: 0.3;
}
/*** contact form ***/
.ccf-form-wrapper{
    font-weight: normal !important;
    margin: 35px auto 30px auto!important;
}
form.ccf-form.ccf-theme-default{
    color: #222222;
    max-width: 656px;
}
.ccf-form-wrapper .field label.main-label{
    margin-bottom: 3px!important;
}
form.ccf-form.ccf-theme-default label{
    font-weight: normal !important;
}
form.ccf-form.ccf-theme-default label{
    font-size: 13px;
    color: #222222 !important;
}
form.ccf-form.ccf-theme-default .sub-label.help-block.text-muted{
    font-size: 11px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0;
}
form.ccf-form.ccf-theme-default .form-group{
     margin-bottom: 23px;
 }
form.ccf-form.ccf-theme-default .form-group:nth-child(2),
form.ccf-form.ccf-theme-default .form-group:nth-child(3){
    width: 50%;
    padding-right: 10px;
 }
form.ccf-form.ccf-theme-default .left{
    width: 50%;
}
form.ccf-form.ccf-theme-default .form-group:first-child {
    margin-bottom: 19px !important;
}

.ccf-form.ccf-theme-default input.red,
.ccf-form.ccf-theme-default textarea.red{
    border: 1px solid red;
}

.ccf-form.ccf-theme-default input,
.ccf-form.ccf-theme-default textarea{
    height: 27px;
    border-radius: 2px;
    border-color: #d7d7d7;
    padding-left: 8px;
}

.ccf-form.ccf-theme-default input[type=submit]{
    height: 35px;
    width: 85px;
    background-color: #222222;
    color: #ffffff;
    margin-left: -1px;
    margin-top: -2px;
    border: none;
    font-size: 13px;
    font-weight: bold;
}
.ccf-form-wrapper .error.email-error{
    float: right!important;
}
.ccf-form.ccf-theme-default input[type=submit]:hover{
    opacity: 0.4;
}
.ccf-form.ccf-theme-default input[type=submit]:focus{
    border-radius: 0;
}
.ccf-form.ccf-theme-default textarea{
    height: 126px;
    resize:vertical ;
}
*:focus {
    outline: none;
}
.form-control{
    box-shadow: none;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.required{
    color: #000000 !important;
}
textarea:focus, input:focus, button:focus{
    outline: none !important;
}


.menu-icon{
    display: none;
    height: 22px;
    width: 27px;
    cursor: pointer;
    position: relative;
    margin-top: 26px;
}
.menu-icon span:before,
.menu-icon span:after,
.menu-icon span{
    position: absolute;
    display: block;
    height: 4px;
    width: 27px;
    top: 8px;
    background-color: #222222;
    content: '';
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.menu-icon span:after{
    top: 9px;
}
.menu-icon span:before{
    top: -9px;
}

.menu-icon.open span:after,
.menu-icon.open span:before
{
    top: 0;
}


.mobile-footer{
    display:  none;
}

footer{
    padding-top: 48px;
    padding-bottom: 42px;
}

footer .social{
    line-height: 17px;
    font-size: 11px;
    float: right;
}

footer .social ul li{
    display: inline-block;
    margin-right: 11px;
}

footer .social ul li:last-child{
    margin-right: 0;
}

footer .copyright{
    float: left;
    padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 975px) {

    .mobile-menu{
        display: block;
    }

    .mobile-menu ul.menu{
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .sidebar-navigation .mobile-menu .menu li{
        padding: 0;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 24px;
    }

    .sidebar-navigation .logo-wrap{
        float: left;
    }
    .sidebar-navigation .logo {
        height: 65px;
        width: 65px;
        margin-top: 0;
        margin-bottom: 44px;
    }

    .sidebar-navigation  ul.menu {
        display: none;
    }

    .menu-icon {
        margin-top: 24px;
        display: inline-block;
        float: right;
        height: 22px;
        width: 27px;
        margin-bottom: 46px;
    }

    .menu-icon span:before,
    .menu-icon span:after,
    .menu-icon span{
        height: 4px;
        width: 27px;
        top: 8px;
    }
    .menu-icon span:after{
        top: 9px;
    }
    .menu-icon span:before{
        top: -9px;
    }


    .sidebar-navigation {
        position: relative;
        height: auto;
        text-align: center;
        width: 100%;
    }

    .menu-main-menu-container{
        clear: both;
    }

    .page-wrapper {
        width: 87%;
        margin: 42px auto 0 auto;
    }

    .content {
        width: 100%;
    }

    .content .row.work-blocks {
        right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .work-block-wrap {
        width: calc( 50% - 5px);
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .work-block-wrap:nth-of-type(2n) {
        margin-right: 0;
    }

    .content .work-blocks {
        margin: 0 auto 10px auto;
    }

    .work-block-wrap img {
        position: relative;
    }

    #menu-main-menu.menu {
        position: relative;
        top: -15px;
        margin: 0 auto 35px auto;
    }

    .content .row {
        margin-left: 0;
        margin-right: 0;
    }

    /*.mobile-footer {*/
        /*margin-bottom: 30px;*/
    /*}*/

    .work-block-wrap:hover .title-wrap {
        display: none;
    }

    .work-block-wrap:hover img {
        opacity: 1;
    }

    .container {
        padding: 0;
    }

    .work-block-wrap img {
        width: 100%;
        height: auto;
        position: inherit;
        top: 0;
        left: 0;
        z-index: -1;
    }

    footer .copyright,
    footer .social{
        width: 100%;
        text-align: center;
        margin: auto;
    }
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) {

    .page-wrapper{
        margin-top: 38px;
    }

    .sidebar-navigation .logo {
        height: 65px;
        width: 65px;
        margin-top: 0;
        margin-bottom: 44px;
    }

    .work-block-wrap{
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .content .work-blocks{
        margin: 0 auto 10px auto;
    }

}